{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Se connecter" %}{% endblock %}

{% block content %}

<h3>{% trans "Se connecter" %}</h3>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Veuillez vous connecter avec l'un de vos comptes tiers existants. Ou, <a style="color: #f15922;" href="{{ signup_url }}">inscrivez-vous</a>
pour un compte {{ site_name }} et connectez-vous ci-dessous:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'ou' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}Si vous n'avez pas encore créé de compte, veuillez
<a class="orange" href="{{ signup_url }}">vous inscrire</a> d'abord.{% endblocktrans %}</p>
{% endif %}

<form class="login col-12 " method="POST" action="{% url 'account_login' %}?next={{request.path}}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction orange small_" href="{% url 'account_reset_password' %}">{% trans "Mot de passe oublié ?" %}</a><br>
  <button class="primaryAction btn btn-success" type="submit">{% trans "Se connecter" %}</button>
</form>  

{% endblock %}
