{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Réinitialisation du mot de passe" %}{% endblock %}

{% block content %}

    <h1>{% trans "Réinitialisation du mot de passe" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Vous avez oublié votre mot de passe ? Entrez votre adresse e-mail ci-dessous, et nous vous enverrons un e-mail pour vous permettre de le réinitialiser." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset col-12 business">
        {% csrf_token %}
        {{ form|crispy}}
        <input class="btn btn-secondary" type="submit" value="{% trans 'Réinitialiser mon mot de passe' %}" />
    </form>

    <p>{% blocktrans %}Veuillez nous contacter si vous avez des difficultés à réinitialiser votre mot de passe.{% endblocktrans %}</p>
{% endblock %}
