{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Changer le mot de passe" %}{% endblock %}

{% block content %}
    <h1>{% trans "Changer le mot de passe" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change col-12 business">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-secondary" type="submit" name="action">{% trans "Changer le mot de passe" %}</button>
        <a href="{% url 'account_reset_password' %}" class="orange">{% trans "Mot de passe oublié ?" %}</a>
    </form>
{% endblock %}
