{% extends "base.html" %}

{% load i18n %}

{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/contact_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/contact_responsive.css' %}">
{% endblock %}

{% block content %}
	<!-- Home -->

	<div class="home">
		<div class="home_background_container prlx_parent">
			<div class="home_background prlx" style="background-image:url({% static 'images/background_1.jpg' %})"></div>
		</div>
		<div class="home_content">
			<h1>{% trans "Contact" %}</h1>
		</div>
	</div>

	<!-- Contact -->

	<div class="contact">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					
					<!-- Contact Form -->
					<div class="contact_form">
						<div class="contact_title">{% trans "Contactez-nous" %}</div>

						<div class="contact_form_container">
							<form action="post">
								<input id="contact_form_name" class="input_field contact_form_name" type="text" placeholder="{% trans 'Nom' %}" required="required" data-error="{% trans 'Le nom est requis.' %}">
								<input id="contact_form_email" class="input_field contact_form_email" type="email" placeholder="{% trans 'E-mail' %}" required="required" data-error="{% trans 'Un email valide est requis.' %}">
								<textarea id="contact_form_message" class="text_field contact_form_message" name="message" placeholder="{% trans 'Message' %}" required="required" data-error="{% trans 'Veuillez écrire un message.' %}"></textarea>
								<button id="contact_send_btn" type="button" class="contact_send_btn trans_200" value="Submit">{% trans "Envoyer le message" %}</button>
							</form>
						</div>
					</div>
						
				</div>

				<div class="col-lg-4">
					<div class="about">
						<div class="about_title">{% trans "Rejoindre les Cours" %}</div>
						<p class="about_text">
							{% blocktrans %}
							In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum. Etiam eu purus nec eros varius luctus. Praesent finibus risus facilisis ultricies. Etiam eu purus nec eros varius luctus.
							{% endblocktrans %}
						</p>

						<div class="contact_info">
							<ul>
								<li class="contact_info_item">
									<div class="contact_info_icon">
										<i class="fa fa-map"></i>
									</div>
									Blvd Libertad, 34 m05200 Arévalo
								</li>
								<li class="contact_info_item">
									<div class="contact_info_icon">
										<i class="fa fa-phone"></i>
									</div>
									0034 37483 2445 322
								</li>
								<li class="contact_info_item">
									<div class="contact_info_icon">
										<i class="fa fa-envelope"></i>
									</div>
									hello@company.com
								</li>
							</ul>
						</div>

					</div>
				</div>

			</div>

			<!-- Google Map -->

			<div class="row">
				<div class="col">
					<div id="google_map">
						<div class="map_container">
							<div id="map"></div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

{% endblock content %}