{% extends 'base.html' %}
{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/courses_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/courses_responsive.css' %}">
{% endblock %}
{% block content %}

{% load static %}
{% load i18n %}

<div class="home">
    <div class="home_background_container prlx_parent">
        <div class="home_background prlx" style="background-image:url({% static 'images/background_1.JPG' %})"></div>
    </div>
    <div class="home_content">
        <h1>{% trans "Payment Successfull " %}</h1>
    </div>
</div>
<!-- Popular -->
<div class="popular page_section">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title text-center">
                    <h1>{% trans "Notre mission" %}</h1>
                </div>
            </div>
        </div>
        <div class="text-center">
            <p><strong>
                {% blocktrans %}
                Your payment has been received. Please check your email — you will receive a username, a password, and a link to access your course.
                {% endblocktrans %}
            </strong></p>
        </div>
    </div>
</div>
{% endblock %}